.aula {
    text-align: center;
    border: 1px solid white;
    position: relative;
}
.aula:hover .datos_aula{
    display: block;
}

.datos_aula{
    position: absolute;
    display: none;
    width: 300px;
    height: 300px;
    top: -20%;
    left: -20%;
    background-color: grey;
    color: red;
    z-index: 2;
}
.datos_aula span{
    display: block;
}
