{% extends "base.html" %}

{% block title %} Feriados {% endblock %}

{% block content %}

<div class="row">
	{% for feriado in feriados %}

		<div class="col s6 m4 l3">
      <div class="card-panel red darken-4 caja-feriado">
        <span class="white-text">
        	<span class="fecha-feriado">{{feriado.fecha|date:"M d"}}</span>
        	<span class="descrip-feriado">{{feriado.descripcion}}</span>
        </span>
      </div>
    </div>

	{% endfor %}
</div>

<form action="/feriados/" method="POST">
    
    {% csrf_token %}
    {{ form.as_p}}
    <input type="submit" value="Agregar Feriado"/>

</form>

{% endblock %}

