  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Bedelón</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/nuevaaula/">Nueva Aula</a></li>
        <li><a href="/feriados/">Feriados</a></li>
        <li><a href="{% url 'bedel'%}">Bedeles</a></li>
        <li><a href="/docentes/">Docentes</a></li>
        <li><a href="/reservas/logout/">Log Out</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/nuevaaula/">Nueva Aula</a></li>
    <li><a href="/feriados/">Feriados</a></li>
    <li><a href="{% url 'bedel'%}">Bedeles</a></li>
    <li><a href="/docentes/">Docentes</a></li>
    <li><a href="/reservas/logout/">Log Out</a></li>
  </ul>
